-@ val title: String
-@ val headline: String = title
-@ val body: String
-@ val user: com.codurance.cerebro.security.User

!!!
html
    head
        title= title
        script(src='https://plus.google.com/js/client:plusone.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')

    body
        header
            div
                span Hello #{user.name.displayName}
        div
            h1= headline
            != body


